
<div class="row footer-bg">
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 text-center footor-logo">
        <img class="footer-R-img" src="../../../assets/images/cropped-logo-roo.png" alt="LogoImage">
        <h3 class="footor-R-name">Reem From the Heart</h3>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
        <h3 class=" footer-h text-center">POPULAR ITEMS</h3>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 col-xs-6 text-center">
                <img class="item-r-img" src="../../../assets/images/gallery3-1-380x340.jpg" alt="an item" srcset="">
            </div>
            <div class="col-md-6 col-lg-8 col-sm-6 col-xs-6">
                <span class="footer-i-txt"> 
                    Delicious Hot Grilled
                    <wbr> Chicken Recipes
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla v v bla bla bla blabla bla bla bla bla bla bla bla
                </span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 col-xs-6 text-center">
                <img class="item-r-img" src="../../../assets/images/gallery8-1-380x340.jpg" alt="an item" srcset="">
            </div>
            <div class="col-md-6 col-lg-8 col-sm-6 col-xs-6">
                <span class="footer-i-txt text-left"> 
                    Delicious Hot Grilled 
                    <wbr> Chicken Recipes 
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla v v bla bla bla blabla bla bla bla bla bla bla bla
                </span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 col-xs-6 text-center">
                <img class="item-r-img" src="../../../assets/images/gallery11-1-380x340.jpg" alt="an item" srcset="">
            </div>
            <div class="col-md-6 col-lg-8 col-sm-6 col-xs-6">
                <span class="footer-i-txt">
                    Delicious Hot Grilled
                    <wbr>Chicken Recipes bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla v v bla bla bla blabla bla bla bla bla bla bla bla
                    </span>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
        <h3 class=" footer-h">Contact Us</h3>
        <div class="footer-contact-txt">
            <i class="fa fa-phone" aria-hidden="true"></i> 
            <span  > +1 (541) 754-3010</span>
        </div>
        <div class="footer-contact-txt">
            <i class="fa fa-location-arrow" aria-hidden="true"></i> 
            <span >
                732/21 Second Street,Manchester, King Street, Kingston United Kingdom 
               
            </span>
        </div>
        <div class="footer-contact-txt">
            <i class="fa fa-comment" aria-hidden="true"></i> 
            <span > reem.info@gmail.com</span>
        </div>
        
        <div class="">
            <h3 class=" footer-h ">Social Links</h3>

            <a href="https://www.facebook.com" aria-hidden="true">
                <i class="fab fa-facebook f-links"></i>
            </a>
            <a href="https://www.twitter.com">
                <i class="fab fa-twitter f-links" aria-hidden="true"></i>
            </a>
            <a href="https://www.whatsapp.com">
                <i class="fab fa-whatsapp f-links"></i>
            </a>
            <a href="https://www.instagram.com">
                <i class="fab fa-instagram f-links" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com">
                <i class="fab fa-youtube f-links" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fab fa-google-plus f-links" aria-hidden="true"></i>
            </a>

        </div>
        
    </div>
    <div class="row inner-footer">
        <p class="text-center">All Copyrights Reservied to Recipe &copy;2021 </p>
    </div>
</div> 

   