<P>fOOTER WORK</P>

<footer>
    <div class="container-fluid outer-footer">
        <div class="row">
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 text-center">
                <img class="text-center footer-logo" src="../../../assets/images/Logo.png" alt="LogoImage">
            </div>

            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <h3 class=" all-font"> Contact Us</h3>
                <div>
                    <i class="fa fa-phone i-style" aria-hidden="true"></i>
                    <span class="all-font"> 012345678945</span>
                </div>
                <div>
                    <i class="fas fa-mail-bulk i-style"></i>
                    <span class="all-font"> eventovic@info.com</span>
                </div>
               <div>
                <i class="fab fa-whatsapp i-style"></i>
                <span class="all-font"> 012345678945 </span>
               </div>
                <br>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-center">
                <a href="#" class="all-font a-link"> Home </a><br>
                <a href="#" class="all-font a-link"> Photographers </a><br>
                <a href="#" class="all-font a-link"> Makeup Artists </a><br>
                <a href="#" class="all-font a-link"> Widding Planners </a><br>
            </div>

            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 text-center">
                <a href="#" class="all-font a-link"> About Us </a><br>
                <a href="#" class="all-font a-link"> Top Rated </a><br>
                <a href="#" class="all-font a-link"> Reviews</a><br>
                <a href="#" class="all-font a-link"> Our Partners </a><br>
            </div>

            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 text-center ">
                <h3 class="text-center all-font">Find US </h3>
                
                <a href="#" class="all-font a-link">
                    <i class="fab fa-facebook i-style"></i>
                </a>
                <br>
                <a href="#" class="all-font a-link">
                    <i class="fab fa-instagram i-style" aria-hidden="true"></i><br>
                </a>
                
                <a href="#" class="all-font a-link">
                    <i class="fab fa-linkedin i-style" aria-hidden="true"></i><br>
                </a>
               
                <a href="#" class="all-font a-link">
                    <i class="fab fa-twitter i-style" aria-hidden="true"></i><br>
                </a>
                <br>
            </div>
        </div>
        <div class="row inner-footer">
            <p class="text-center"> Copyrights Eventovic' &copy; 2021 </p>
        </div>
    </div>
</footer>


